body {
    margin: 0 auto;
    width: 50%;
}
.page {
    display: flex;
    font-family: Calibri;
   
}

.page > div{
    margin: 10px;
    padding: 10px;
}
/* detail */
#detail{
    border-left: 1px solid black;
    flex: 1;
}
#detail p{
    margin: 4px;
}

 /* Vyhledávání */
#search{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
/* Vyhledávací èást */
#searchSite {
    flex: 0 0 300px; /* fixné šíøka */
}

#searchSite li {
    cursor: pointer;
    padding: 1px;
}

#searchSite li:hover {
    background-color: #fb5e5e;
}

input, button {
    padding: 5px;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

h2 {
    margin: 0
}
h4{
    font-size: 15pt;
    margin: 6px 0;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}